/* CSS for Google Fonts */

.beth {
font-family: 'Beth Ellen', cursive;
}
.mono {
font-family: 'Cutive Mono', monospace;
}
.script {
font-family: 'Dancing Script', cursive;
}
.gothic {
font-family: 'Didact Gothic', sans-serif;
}
.baskerville {
font-family: 'Libre Baskerville', serif;
}
.hand {
font-family: 'Nothing You Could Do', cursive;
}
.roboto {
font-family: 'Roboto', sans-serif;
}
.playfair {
font-family: 'Playfair Display', serif;
}
